<h1 id="h1"> Create Student </h1>
    <div class="shape">   
      <%= form_with model: @student, url: {action: :create} do |f| %>   
         <% if f.object.errors.any? %>
<div class="alert alert-danger">
<% f.object.errors.full_messages.each do |message| %>
<div>
<%= message %>
</div>

<% end %>
</div>
<% end %>  
          <div class="boxes">    
            <div class="mb-3">   
                <%= f.label :name %>  
                  <%= f.text_field :name, class:"form-control" %>   
            </div>   
      
            <div class="mb-3">   
                 <%= f.label :School %>  
                 <%= f.text_field :School, class:"form-control" %>   
            </div>   
      
            <div class="mb-3">   
              <%= f.label :phone %> 
                  <%= f.text_field :phone, class:"form-control"%>   
            </div>   
            <div class="mb-3">   
               <%= f.label :instagram %>  
                  <%= f.text_field :instagram, class:"form-control" %>   
            </div>
          <div class="mb-3">   
               <%= f.label :degree %>  
                  <%= f.text_field :degree, class:"form-control" %>   
            </div>

          <div class="mb-3">   
            <%= link_to 'Back', { controller: 'student', action: 'index'} , class:"btn btn-success"%>   
            <%= f.submit 'Create Student', class:"btn btn-dark" %>   
          </div>

          </div>   
         
      <% end %>   
    </div>  